.user {
    box-shadow: 0 0 3px black;
    flex-basis: 30%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px;
}

.user img{
    width: 60px;
    height: 60px;
    margin: 10px;
}

.user_info_block{

}

.user_info_follow{
    display: flex;
    flex-basis: 100px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.btn_follow{
    cursor: pointer;
    padding: 0 5px;
    margin: 10px;
}